body {
    max-width: 950px;
    margin: 0 auto;
    align-content: center;
}

header {
    background-image: url('../images/books-pictures.jpg');
    background-repeat: no-repeat;
    min-height: 200px;
    background-size: 100%;
    min-width: 290px;
    max-width: 950px;
    position: relative;
}


.marquee {
    position: absolute;
    max-width: 950px;
    top: 70px;
    background-color: gray;
    display: inline;
    white-space: nowrap;
    animation: rightThenLeft 6s infinite;
}

.marquee:hover {
    background-color: aliceblue;
    color: yellow;
}

@keyframes rightThenLeft {
    0%  {left: 10%; transform: rotate(-0.06turn);}
    20% {transform: rotate(0.06turn);}
    40% {transform: scale(0.5, 0.5);}
    50% {left: 50%;}
    60% {transform: rotate(-0.06turn);}
    80% {transform: scale(0.5, 0.5); transform: rotate();}
    100% {left: 10%; transform: rotate(-0.06turn);}
}


.product-card {
    flex: 1 1 45%;
    margin: 0.25em;
    padding: 0.5em;
    border: 3px solid black;
    border-radius: 20px;
    max-width: 250px;
    transition: transform 0.6s ease;
}

.product-card a {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.product-card:hover {
    transform: scale(0.9);
}

.product-card h2,
.product-card h3,
.product-card p {
    margin: 0.5em 0;
}
  
.card__brand {
    font-size: var(--small-font);
}
  
.card__name {
    font-size: 1em;
}
.books {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
}
.books a {
    text-decoration: none;
    color: var(--dark-grey);
}

ul li {
    border: 1px solid black;
}

li img {
    min-width: 128px;
}

.free {
    background-color: rgb(57, 231, 57);
    color: white;
}

.not_for_sale {
    background-color: rgb(255, 39, 39);
    color: white;
}

.for_sale {
    background-color: rgb(201, 201, 38);
    color: white;
}

.free, .not_for_sale, .for_sale {
    padding: 5px 10px;
    border-radius: 8px;
}

input {
    height: 32px;
    font-size: 22px;
}